@model IEnumerable<QuizwanieMVCv2.QuizwanieService.Question>

@{
    ViewBag.Title = "Zatwierdzanie pytań";
}

<h2>Zatwierdzanie pytań</h2>

<table class="table">
    <tr>
        <th>
            Treść
        </th>
        <th>
            Poprawna odpowiedź
        </th>
        <th>
            Błędna odpowiedź nr 1
        </th>
        <th>
            Błędna odpowiedź nr 2
        </th>
        <th>
            Błędna odpowiedź nr 3
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Content)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CorrectAnswer)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.WrongAnswer1)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.WrongAnswer2)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.WrongAnswer3)
        </td>
        <td>
            @Html.ActionLink("Zatwierdź", "Apply", new { id=item.Id }) |
            @Html.ActionLink("Usuń", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>

<div>
    @Html.ActionLink("Powrót", "Index", "Home")
</div>
